/* You can add global styles to this file, and also import other style files */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
body  {
    /* background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ruoEhTkNeiwq2lefr/videoblocks-smartphone-with-icons-mobile-apps-concept-available-in-4k-fullhd-and-hd-video-2d-render-footage-animation-for-yours-presentation_b1k5vhjce_thumbnail-full05.png"); */
    background-image:url("https://cn.pling.com/img/d/4/2/8/79779577f314302bbd285e2f858754ea0f04.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: auto;
}
h1{
  text-align: center;
  color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
